# Git
.git
.gitignore
.gitattributes

# Docker
.dockerignore
docker-compose.yml
docker/

# Node
node_modules
pnpm-debug.log
.pnpm-store
package-lock.json
.nvmrc

# Editor/IDE
.idea
.vscode
.editorconfig

# OS
.DS_Store
Thumbs.db

# Project specific
.github
tests
.env
.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local
dist
coverage
build

# Other
LICENSE
README.md
Makefile
*.md

# Config files not needed for build
.oxlintrc.json
vitest.config.ts
