# --- The environment where the api is running under.
#     example: production, local, staging, etc.
VITE_API_ENV=

# --- The oullin.io/api URL.
#     https://github.com/oullin/api
VITE_API_URL=

# --- The given application registered account name
VITE_ACCOUNT_NAME=

# --- The given application public key
VITE_PUBLIC_KEY=

# --- The given application API's utilises public cryptography to validate the origin of the requesters.
VITE_PUBLIC_SIGNATURE=
