.env
stats.html
.env.production
.DS_Store

dist/
.vite/
.idea/
dist-ssr/
coverage/
node_modules/
.playwright-cli/
.pnpm-store/
pnpm-debug.log
package-lock.json

# --- Storage
!storage/.gitkeep

storage/oullin/*
!storage/oullin/.gitkeep

storage/oullin/html/*
!storage/oullin/html/.gitkeep

storage/oullin/logos/*
!storage/oullin/logos/.gitkeep

# --- [Caddy]: mtls
caddy/mtls/*.*
!caddy/mtls/.gitkeep

# -- [SEO]: static files
public/images/seo/*.*
!public/images/seo/.gitkeep

public/seo/*.*
public/seo/posts/*.*
!public/seo/.gitkeep
!public/seo/posts/.gitkeep
