.env
.env.production
stats.html

.DS_Store

dist/
.vite/
.idea/
dist-ssr/
node_modules/
coverage/

# --- [Caddy]: mtls
caddy/mtls/*.*
!caddy/mtls/.gitkeep

# -- [SEO]: static files
public/images/seo/*.*
!public/images/seo/.gitkeep

public/seo/*.*
public/seo/posts/*.*
!public/seo/.gitkeep
!public/seo/posts/.gitkeep
