/* Hamburger button */
.hamburger svg > *:nth-child(1),
.hamburger svg > *:nth-child(2),
.hamburger svg > *:nth-child(3) {
	transform-origin: center;
	transform: rotate(0deg);
}

.hamburger svg > *:nth-child(1) {
	transition:
		y 0.1s 0.25s ease-in,
		transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19),
		opacity 0.1s ease-in;
}

.hamburger svg > *:nth-child(2) {
	transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger svg > *:nth-child(3) {
	transition:
		y 0.1s 0.25s ease-in,
		transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19),
		width 0.1s 0.25s ease-in;
}

.hamburger.active svg > *:nth-child(1) {
	opacity: 0;
	y: 11;
	transform: rotate(225deg);
	transition:
		y 0.1s ease-out,
		transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1),
		opacity 0.1s 0.12s ease-out;
}

.hamburger.active svg > *:nth-child(2) {
	transform: rotate(225deg);
	transition: transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger.active svg > *:nth-child(3) {
	y: 11;
	transform: rotate(135deg);
	transition:
		y 0.1s ease-out,
		transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1),
		width 0.1s ease-out;
}

:root {
    --custom-scrollbar-track: #f3f4f6; /* Tailwind gray-100 */
    --custom-scrollbar-thumb: #d946ef; /* Tailwind fuchsia-500 */
    --custom-scrollbar-thumb-hover: #e879f9; /* Tailwind fuchsia-400 */
    --post-scrollbar-track: #f3f4f6; /* Tailwind gray-100 */
    --post-scrollbar-thumb: #d946ef; /* Tailwind fuchsia-500 */
    --post-scrollbar-thumb-hover: #e879f9; /* Tailwind fuchsia-400 */
}

.dark {
    --custom-scrollbar-track: #1e293b; /* Tailwind slate-800 */
    --custom-scrollbar-thumb: #14b8a6; /* Tailwind teal-500 */
    --custom-scrollbar-thumb-hover: #2dd4bf; /* Tailwind teal-400 */
    --post-scrollbar-track: #1e293b; /* Tailwind slate-800 */
    --post-scrollbar-thumb: #14b8a6; /* Tailwind teal-500 */
    --post-scrollbar-thumb-hover: #2dd4bf; /* Tailwind teal-400 */
}

.custom-scrollbar {
    --scrollbar-track: var(--custom-scrollbar-track);
    --scrollbar-thumb: var(--custom-scrollbar-thumb);
    --scrollbar-thumb-hover: var(--custom-scrollbar-thumb-hover);
}

.post-markdown pre {
    --scrollbar-track: var(--post-scrollbar-track);
    --scrollbar-thumb: var(--post-scrollbar-thumb);
    --scrollbar-thumb-hover: var(--post-scrollbar-thumb-hover);
}


.custom-scrollbar {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

.custom-scrollbar::-webkit-scrollbar,
.post-markdown pre::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track,
.post-markdown pre::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb,
.post-markdown pre::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover,
.post-markdown pre::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}
