@font-face {
	font-family: 'Aspekta';
	font-weight: 500;
	font-style: normal;
	font-display: fallback;
	src: url('@fonts/Aspek500.woff2') format('woff2');
}

@font-face {
	font-family: 'Aspekta';
	font-weight: 650;
	font-style: normal;
	font-display: fallback;
	src: url('@fonts/Aspek650.woff2') format('woff2');
}

@font-face {
	font-family: 'Space Grotesk';
	font-weight: 300 700;
	font-style: normal;
	font-display: swap;
	src: url('@fonts/SpaceGro.woff2') format('woff2');
}

@font-face {
	font-family: 'JetBrains Mono';
	font-weight: 300 700;
	font-style: normal;
	font-display: swap;
	src: url('@fonts/JBMono.woff2') format('woff2');
}
