name: Tests

on:
    pull_request:
        types: [opened, reopened, ready_for_review, synchronize, labeled]

jobs:
    vitest:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-node@v4
              with:
                  node-version: 22.12.0
                  cache: 'npm'
                  cache-dependency-path: package-lock.json
            - run: npm ci --legacy-peer-deps
            - run: npm test
